.github {
   background-image: url("../img/github_front.png");
   height:128px;
   width:128px;  
}

.github:hover {
   transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
} 

.linkedin {
   background-image: url("../img/linkedin_front.png");
   height:128px;
   width:128px;  
}

.linkedin:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
} 

.googleplus {
   background-image: url("../img/googleplus_front.png");
   height:128px;
   width:128px;  
}
.googleplus:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
} 

.twitter {
   background-image: url("../img/twitter_front.png");
   height:128px;
   width:128px;  
}

.twitter:hover {
   transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
} 

.blog {
   background-image: url("../img/blog_front.png");
   height:128px;
   width:128px;  
}
.blog:hover {
   transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
} 

.facebook {
   background-image: url("../img/facebook_front.png");
   height:128px;
   width:128px;  
}
.facebook:hover {  
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
}

.stackoverflow {
   background-image: url("../img/stackoverflow_front.png");
   height:128px;
   width:128px;  
}
.stackoverflow:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
}

.coderwall {
   background-image: url("../img/coderwall_front.png");
   height:128px;
   width:128px;  
}
.coderwall:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
}

.slideshare {
   background-image: url("../img/slideshare_front.png");
   height:128px;
   width:128px;  
}
.slideshare:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */  
}

.logo {
   background-image: url("../img/my_logo.png");
   width:85px;
   height:87px;   
}

.logo:hover {
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
}

.line {
    background-image: url("../img/line.png");
    background-repeat: repeat-x;
} 

body {
    background-image: url("../img/bac.png");
    background-repeat: repeat-y repeat-x;
} 

.logo:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}
.ani:hover {
    transform:scale(1.05);
    -ms-transform:scale(1.05); /* IE 9 */
    -moz-transform:scale(1.05); /* Firefox */
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -o-transform:scale(1.05); /* Opera */
}

.imageLink{
 text-align:center;
}

.imageLink img{
  display:block;
}
